.bottom {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url($jura);
  background-position: center;
  color: white;

  h2 {
    margin-bottom: 15px;
  }

  .signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input {
      width: 340px;
      padding: 10px;
      border-radius: 4px;
      border: 0;
      font-size: 1em;
      margin: 5px;
    }

    button {
      width: 100px;
      padding: 10px;
      border-radius: 4px;
      border: 0;
      background: $blue;
      color: white;
      font-size: 1em;
      cursor: pointer;
      margin: 5px;

      &:hover {
        background: $moreblue;
      }

      &:active {
        background: $mostblue;
      }
    }
  }
}
